.renda-resultado {
  font-size: 26px;
  font-weight: 600;
  color: #3C2E88;
}

.no-simulation {
  padding: 15px;
  text-align: center;
  background: #eceaf3;
  margin: 20px 0 0 0;
  color: #3C2E88;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
}
